main{
  text-align: center;
}
.users{
  color: #333333;
}

.liveSearch:hover{
  box-shadow: 0px 0px 2px 0px #993ec4;
  transition: 0.1s;
}
.liveSearch{
  padding: 5px 10px;
  position: absolute;
  left: 145px;
  top: 100px;
  border: none;
  border-radius: 5px;
  width: 300px;
  font-size: 15px;
  background-color: #580f54;
  color: white;
}

.sorting{
  position: absolute;
  right: 145px;
  top: 110px;
}